[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
mutagen = "*"
transliterate = "*"
eyed3 = "*"
id3reader = "*"
chardet = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
